{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block link %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<!-- *** Carousel Controls *** -->
<div id="videoCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- First Slide -->
        <div class="carousel-item active">
            <video class="w-100" autoplay muted loop>
            <source src="{% static 'videos/coffee.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-block">
            <h3>Slide 1 Title</h3>
            <p>This is the text description for slide 1.</p>
            </div>
        </div>

        <!-- Second Slide -->
        <div class="carousel-item">
            <video class="w-100" autoplay muted loop>
            <source src="{% static 'videos/coffee.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-block">
            <h3>Slide 2 Title</h3>
            <p>This is the text description for slide 2.</p>
            </div>
        </div>
            <!-- Third Slide -->
        <div class="carousel-item">
            <video class="w-100" autoplay muted loop>
            <source src="{% static 'videos/coffee.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-block">
            <h3>Slide 3 Title</h3>
            <p>This is the text description for slide 3.</p>
            </div>
        </div>

        <!-- Fourth Slide -->
        <!-- <div class="carousel-item">
            <div class="col-md-6">
                <video autoplay muted loop>
                    <source src="{% static 'videos/coffee.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-6">
                <div class="carousel-caption">
                    <h3>Slide 4 Title</h3>
                    <p>This is the text description for slide 4.</p>
                </div>
            </div>
        </div> -->

    </div>

    <!-- Carousel Controls -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#videoCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#videoCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#videoCarousel" data-bs-slide-to="2"></button>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}