{% extends 'base.html' %}
{% block title %}Recipe Detail{% endblock %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}

{% block link %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<!-- Masthead Section -->
<div class="masthead">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-md-12 d-flex flex-column">
                <!-- Card Column: Text + Image Together -->
                <div class="card mb-4 mt-3 left top flex-fill glow-card">
                    <div class="row g-0">
                        <!-- Text Column -->
                        <div class="col-md-6 d-flex align-items-start justify-content-center">
                            <div class="card-body p-4">

                                <!-- Recipe title goes in these h1 tags -->
                                <h1 class="recipe-title">{{ recipe.recipe_title }}</h1>
                                <p><strong class="text-secondary">
                                        <a href="#reviews" class="text-decoration-none link-success"> <i
                                                class="bi bi-chat-fill"></i> {{ comment_count }}</a>
                                    </strong></p>
                                <hr>
                                <!-- Introduction Section -->
                                <h5 class="card-title">Introduction</h5>
                                <p class="card-text">{{ recipe.introduction | safe }}</p>
                                <hr>
                                <!-- Ingredients Section -->
                                <h5 class="card-title">Ingredients</h5>
                                <p class="card-text">{{ recipe.ingredients | safe }}</p>
                                <hr>
                                <!-- Instructions Section -->
                                <h5 class="card-title">Instructions</h5>
                                <p class="card-text">{{ recipe.instructions | safe }}</p>
                            </div>
                        </div>
                        <!-- Image Column -->
                        <div class="col-md-6 masthead-image">
                            <img src="{{ recipe.featured_image.url }}" class="img-fluid"
                                alt="{{ recipe.recipe_title }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Displaying Comments -->
<div class="container">
    <div class="row g-0 align-items-stretch">
        <div class="col-md-12 d-flex flex-column">
            <!-- Card Column: Text + Image Together -->
            <div class="card mb-4 mt-3 left top flex-fill glow-card">
                <div class="row g-0">
                    <!-- Text Column -->
                    <div class="col-md-6 d-flex align-items-start justify-content-center">
                        <div class="card-body p-4">
                            <h3 id="reviews">Reviews:</h3>
                            <hr>
                            {% for comment in comments %}
                            <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                                <p class="font-weight-bold"><b>
                                        {{ comment.author }}</b> reviewed on
                                    <span class="font-weight-normal">
                                        <i> {{ comment.created_on }}</i>
                                    </span>
                                </p>
                                <div class="rating">
                                    {% for i in "12345" %}
                                    {% if i|add:"0" <= comment.rating %} <i class="bi bi-star-fill text-warning"></i>
                                        {% else %}
                                        <i class="bi bi-star"></i>
                                        {% endif %}
                                        {% endfor %}
                                        <p id="comment{{ comment.id }}">
                                            {{ comment.body | linebreaks }}
                                        </p>
                                        {% if not comment.approved and comment.author == user %}
                                        <p class="approval">
                                            This comment is awaiting approval
                                        </p>
                                        {% endif %}
                                        {% if user.is_authenticated and comment.author == user %}
                                        <div class="row gap-3">
                                            <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>

                                            <button class="btn btn-edit"
                                            comment_id="{{ comment.id }}">Edit</button>
                                        </div>
                                        {% endif %}
                                        <hr>
                                </div>
                            </div>
                            <!-- Our for loop ends here -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content card">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Creating New Comments -->
<div class="container">
    <div class="row g-0 align-items-stretch">
        <div class="col-md-12 d-flex flex-column">
            <div class="card mb-4 mt-3 left top flex-fill glow-card">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6 d-flex align-items-start justify-content-center">
                        <div class="card-body p-4">
                            {% if user.is_authenticated %}
                            <h3>Leave a review:</h3>
                            <p>Reviewing as: {{ user.username }}</p>
                            <form id="commentForm" method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                            {% else %}
                            <p>Log in to leave a review</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <!-- Reviews Column -->
        <div class="col-md-6">
            <div class="card mb-4 mt-3 left top flex-fill glow-card">
                <div class="card-body p-4">
                    <h3>Reviews:</h3>
                    <hr>
                    {% for comment in comments %}
                    <div
                        class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                        <p class="font-weight-bold"><b>{{ comment.author }}</b> reviewed on <span
                                class="font-weight-normal"><i>{{ comment.created_on }}</i></span></p>
                        <div class="rating">
                            {% for i in "12345" %}
                            {% if i|add:"0" <= comment.rating %} <i class="bi bi-star-fill"></i>
                                {% else %}
                                <i class="bi bi-star"></i>
                                {% endif %}
                                {% endfor %}
                        </div>
                        <p id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</p>
                        <hr>
                        {% if not comment.approved and comment.author == user %}
                        <p class="approval">This comment is awaiting approval</p>
                        {% endif %}

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Creating New Comments Column -->
        <div class="col-md-6">
            <div class="card mb-4 mt-3 left top flex-fill glow-card">
                <div class="card-body p-4">
                    {% if user.is_authenticated %}
                    <h3>Leave a review:</h3>
                    <p>Reviewing as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a review</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}