html,
body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

.alert-info{
    /* background: linear-gradient(135deg, #02AABD, #00CDAC) !important; */
    /* background: linear-gradient(135deg, #db522c, #F7B733) !important; */
    /* background: linear-gradient(135deg, #ED1E79, #662D8C) !important; */
    /* background: linear-gradient(135deg, #ed3938, #ffa12e) !important; */
    /* background: linear-gradient(135deg,#ffa12e, #f1c40d) !important;  */
    /* background: linear-gradient(135deg,#163a2a, #1fb7c8) !important;  */
    --bs-alert-bg: #0c4956;
    /* --bs-alert-bg: #002aff; */
    /* color: #e8d5f6; */
    /* color: #7a3b01; */
    color: #d6f7ec;
    border: none;
}

.alert-link{
    color: #eef0f3;
    text-decoration: underline;
}

.alert{
    border-radius: 0;
    padding: 10px;
}


/*** Navbar ***/

.navbar{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.nav-left, .nav-right {
    border-bottom: 1px solid lightgray; /* Light underline for left and right links */
}

.nav-item.nav-link {
    display: inline-block;
    position: relative;
    padding-bottom: 15px; /* Add some padding to make space for the underline */
}

.nav-item.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4.5px; /* Adjust the height of the underline */
    color:#000000;
    background-color: #000000; /* Color of the underline */
    transition: width 0.3s ease;
}

.nav-item.nav-link:hover::after {
    background-color: #ffb703; /* Bootstrap primary color */
    width: 100%; /* Full width underline on hover */
}
/*** Logo ***/
.logo-container {
    position: relative;
}

.logo {
    height: 150px; /* Adjust the height as needed */
    width: 150px; /* Adjust the width as needed */
    border-radius: 50%;
    position: absolute;
    top: -70px; /* Adjust the value to control how much the logo extends above the navbar */
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white; /* Optional: Add a border to the logo */
}

/*** Sign up button ***/
.signup-button {
    height: 95px; /* Adjust the height as needed */
    width: 95px; /* Adjust the width as needed */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none; /* Optional: Add a border to the button */
    background-color: #fbcb0c; /* Bootstrap primary color */
    color: black;
    /* transform: translateX(-120%); */
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: -30px; /* Adjust the value to control how much the button extends above the stripe */
    margin-bottom: -30px; /* Adjust the value to control how much the button extends below the stripe */
}

.signup-button:hover {
    background-color: #111111; /* Darker shade of the primary color */
}

/*** Hero Section ***/
/* Ensure the video and content are responsive */
.carousel-item{
    height: 60vh;
}

.carousel-content{
    /* background-color: #ffebcd; */
    background: linear-gradient(135deg, #ffebcd, #f3d7d7);
}

.carousel-indicators {
    margin-top: 10px; /* Spacing below <h3> */
    justify-content: center; /* Center the indicators */
    gap: 8px; /* Space between indicators */
}


.carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black !important;
    border: 2px solid black;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.carousel-indicators button.active,
.carousel-indicators button:hover {
    background-color: black;
    opacity: 1;
}

.carousel-item .col-md-6 {
    padding: 0;
}

.carousel-item video {
    width: 100%;
    height: auto;
}

.carousel-item .p-4 {
    padding: 2rem;
}


/******* Recipe Posts *******/
.recipe-link {
    text-decoration: none;
    color: #E84610;
}

.recipe-link:hover,
.page-link {
    color: #ffb703;
}

/* Recipe Entries Column */
/* Recipe Entries Column */
.recipe-entry .card-img-top {
    width: 100%; /* Set the width to 100% of the parent element */
    height: 300px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the area without stretching */
}

/* Limit introduction to 3 lines */
.recipe-entry .introduction {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/************ Cards ************/
/* Card shadow effect */
.recipe-entry:nth-child(3n+1), 
.card {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15), 0 6px 18px rgba(0, 0, 0, 0.1);
}

.recipe-entry:nth-child(3n+1):hover,
.card {
    /* transform: translateY(-10px); */
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25), 0 12px 30px rgba(0, 0, 0, 0.3);
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }
}

/*********Recipe Description***********/

.masthead-image {
    display: flex;
    align-items: stretch;
}

.masthead-image img {
    object-fit: cover; /* Ensure the image covers the area without stretching */
    height: 100%; /* Match the height of the parent element */
    width: 100%; /* Ensure the image takes the full width of the parent element */
}
/*********** Media Queries ************/



