{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flavour On Fire{% endblock %}</title>
    {% block link %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    <main>
    <div class="alert alert-info text-center mb-0 fs-5" role="alert">
        
        Join our foodie family! <a href="#" class="alert-link fs-5">Login</a> to unlock exclusive recipes.
    </div>
    <div class="navbar-background">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-nav mr-auto nav-left">
                <a class="nav-item nav-link fs-4 px-5" href="#"><strong>Recipes</strong></a>
                <a class="nav-item nav-link fs-4 px-5" href="#"><strong>Chef's special</strong></a>
            </div>
            <a class="navbar-brand mx-auto logo-container" href="{% url 'home' %}">
                <img src="{% static 'images\logo.png' %}" alt="Logo" class="logo">
            </a>
            <div class="navbar-nav ml-auto nav-right">
                <a class="nav-item nav-link fs-4 px-5" href="#"><strong>Authors</strong></a>
                <a class="nav-item nav-link fs-4 px-5" href="#"><strong>Share your recipes</strong></a>
            </div>
        </div>
    </nav>
</div>
    <div class="alert alert-info text-left mb-4 mt-5 px-0 fs-5" role="alert">
        <div class="container-fluid text-start">
            Share your culinary creations!&nbsp;&nbsp;
            <a href="#" class="btn btn-primary signup-button d-none d-md-inline-flex fs-5 fw-bold">
                Sign me up
            </a>
            <span class="d-inline d-md-none alert-link">Sign me up!</span>
            &nbsp;&nbsp;Leave ratings, reviews and contribute to our growing community. 
        </div>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}
    </main>
     <!-- Footer -->
     <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">
            {% block copyright %}
            Made by Code Instituters
            {% endblock %}
        </p>
        <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block extras %}
    {% endblock %}
</body>
</html>